@import "bootstrap/scss/bootstrap";

@import url("https://fonts.cdnfonts.com/css/futura-std-4");

@import "./Navbar.scss";
@import "./About.scss";
@import "./Home.scss";
@import "./SingleWork.scss";
@import "./Works.scss";
@import "./Login.scss";
@import "./toastify";

@import "./Admin/AddWork.scss";
@import "./Admin/AllWorks.scss";
@import "./Admin/AdminNavbar.scss";
@import "./Admin//EditWork.scss";
@import "./Admin//EditAbout.scss";

// @font-face {
//   font-family: "Tan Meringue";
//   src: url("/fonts/TanMeringue.otf") format("opentype");
// }

// @font-face {
//   font-family: "Cascadia";
//   src: url("/fonts/Cascadia.ttf") format("opentype");
// }

.loading-spinner {
  margin: 100px 0;
  span {
    margin: 0 auto;
  }
}

body {
  background-color: #e3e3e3;
}
