.singleWork-page {
  background-image: url("/images/home-bg.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  padding-top: 6rem;
  overflow-y: scroll;
  padding-bottom: 2rem;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .container {
    padding: 1rem 25px;

    .goBack-btn {
      .btn {
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: #333;
        font-family: "Futura Std", sans-serif;
        font-weight: 400;
        margin-bottom: 1rem;
      }
    }

    h1 {
      font-family: "Futura Std", sans-serif;
      font-weight: 400;
      font-size: 40px;
      text-transform: uppercase;
      color: #333;
      margin: 1rem 0;
      letter-spacing: 4px;
    }

    p {
      width: 100%;
      font-family: "Futura Std", sans-serif;
      color: #333;
    }

    .row {
      margin-bottom: 4rem;

      img {
        max-height: 500px;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .singleWork-page {
    .container {
      p {
        width: 50%;
      }
      .row {
        .col {
          img {
            height: -webkit-fill-available;
          }
        }
      }
    }
  }
}
